.user-type{
		font-size: 0.6em;
		text-transform: uppercase;
		color: gray;
}

.user-name{
		font-size: 1em;
		font-weight: 500;
}

.input-form{
	max-width: 700px;
	margin: 0 auto;
}

.product-thumbs img {
	max-height:4.5em;
	margin-top: 5px;
}

.input-form input{
	border: 2px solid #e4e4e4;
    background-color: white;
    text-align: left;
    font-family: sans-serif;
    padding: 10px 10px;
    width: 70%;
    border-radius: 2px;
    -webkit-appearance: none;
    outline: 0;
    transition: 300ms;
}

.input-form textarea{
	width: 70%;
	border: 2px solid #e4e4e4;
    background-color: white;
    text-align: left;
    font-family: sans-serif;
    padding: 10px 10px;
    -webkit-appearance: none;
    border-radius: 2px;
    outline: 0;
    transition: 300ms;
    height: 10em;
}

.flex-nav a{
	font-size: 0.8em;
	color: gray;
} 
